@media only screen and (min-width: 80rem) {

  .intro header h1 {
    font-size: 6em;
  }

  .intro header h2 {
    font-size: 2em;
  }

  .page-wrapper {
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 200px repeat(9, 10%);
  }

  .intro {
    grid-column: 1 / 4;
    grid-row: 1 / 11;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 200px repeat(9, 10%);
  }

  .intro header {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }

  .summary {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    padding-right: 2em;
  }

  .summary p:first-child {
    margin-top: 0;
  }

  .preamble {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }

  // child of page-wrapper - sibling of intro
  .supporting {
    grid-column: 2 / 3;
    grid-row: 1 / 10;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 200px 370px auto;
  }

  // .supporting {
  //   position: absolute;
  //   left: 21.5%;
  //   top: 50px;
  //   width: 475px;
  //   z-index: 1;
  //   height: 380px;
  //   padding-left: 45px;
  //   overflow: hidden;
  //   margin-top: 12em;
  // }

  .explanation {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .participation {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .benefits {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .requirements {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .supporting footer {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    margin-top: 4.5em;
  }

  .sidebar {
    grid-column: 3 / 4;
    grid-row: 2 / 11;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;
    align-items: start;
    text-align: left;
    padding-left: 4em;
  }

  .design-selection {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .design-archives {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .zen-resources {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }

  .design-selection h3 {
    margin-top: 0;
  }

  .explanation,
  .participation,
  .benefits,
  .requirements {
    border: none;
    margin: 0 2em;
    padding: 2em;
    padding-right: 9em;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }

  .preamble {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    background: transparent;
    margin: 0;
    margin-top: 2em;
    padding: 0;
    padding-right: 2em;
  }

  .page-wrapper::before {
    content: "";
    position: absolute;
    background-image: url("images/old-tv2.png");
    background-repeat: no-repeat;
    z-index: 10;
    top: 164px;
    left: 19.5%;
    width: 63%;
    height: 567px;
    transform: scale(0.75);
    /* display: none; - use in media query when width is less than 80em */
  }

  .explanation {
    background: lighten($color-1, 45%);
    z-index: 1;
    overflow: hidden;
    animation: zchange 2s infinite linear; //slide 8s linear infinite,
  }

  // .sequenced-thing {
  //   animation: 
  //     sequence1 1s 2,
  //     sequence2 3s 1s 1 forwards;
  // }

  // consider stepping into the index. You would start the first at 10, then go to 5, the one at 9 will go to 4 the one at 8 will go to 3, etc. until the one at 6 will go to 1, with it scrolling first and then sequenced to the next one

  .participation {
    background: $color-2;
    z-index: 2;
    overflow: hidden;
    animation: zchange 2s infinite linear; //slide 8s linear infinite,
  }

  .participation h3,
  .benefits h3 {
    color: darken($color-1, 5%);
  }

  .benefits {
    background: lighten($color-3, 18%);
    z-index: 3;
    overflow: hidden;
    animation: zchange 2s infinite linear; //slide 8s linear infinite,
  }

  .requirements {
    background: $color-4;
    z-index: 4;
    overflow: hidden;
    animation: zchange 2s infinite linear; //slide 8s linear infinite,
  }

  .requirements h3 {
    color: darken($color-1, 5%)
  }

  .requirements a,
  .participation a {
    color: darken($color-3, 5%)
  }  

  // keyframes for slide for explanation, participation, benefits, and requirements
  @keyframes slide {
    0% {
      margin-top: 400px;
    }

    100% {
      margin-top: -1000px;
    }
  }

  @keyframes zchange {
    50% {
      z-index: 5;
    }
  }

  @keyframes animatebubble {
    0% {
      margin-top: 0%;
    }

    100% {
      margin-top: -150%;
    }
  }

}

/*end of media query */