@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*

   {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
        
    .intro h1 {
    /* use display: inline; when using more then one line of text. I still can't figure out how to center the text this way though. But it allows me to see all the text.
        display: inline; */
        
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width:600px;
        font-size: 4em;
    }
   
 
    
    .intro h1:nth-child(1) {
        color: transparent;
        -webkit-text-stroke: 2px #03a9f4;
    }
    
    .intro h1:nth-child(2) {
        color: #03a9f4;
        animation: animate 3s ease-in-out infinite;
    }
    
    @keyframes animate {
        0%,100% {
                clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
        }
        50% {
            clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
        }
    }
}
