h1 {
  font-family: "Merriweather", serif;
  font-size: 4em;
  color: #E1B923;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(90deg, #E1B923, #FFFFFF, #E1B923);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 5s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}