// fonts
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900;1,400&family=Poppins:wght@300;400;700;900&display=swap');

$primary-font: 'Merriweather', serif;
$secondary-font: 'Poppins', sans-serif;

body {
    font-family: $secondary-font;
}

h1 {
    font-family: $primary-font;
    font-size: 6em;
    color: $color-4;
    //text-shadow: 0 0 10px $color-5;
    text-align: center;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
}
h2 {
    font-family: $primary-font;
    font-size: 2em;
    text-align: center;
    color: $color-4;
}

h3 {
    font-family: $primary-font;
    font-size: 1.25em;
    text-align: center;
    color: $color-4;
}

