/* -------------------------------- 
xBackground 
-------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900;1,400&family=Poppins:wght@300;400;700;900&display=swap");
body {
  /* this is the page background */
  background-color: #013E75;
  color: #FFFFFF;
}

/* -------------------------------- 
xPage title 
-------------------------------- */
/*Navigation colors*/
a:link,
a:visited {
  color: #E1B923;
  text-decoration: none;
}

a:hover {
  color: #D44013;
  border: 1px dotted #99CEDC;
  text-decoration: underline;
}

a:focus,
a:active {
  color: #FFFFFF;
  background-color: #D44013;
  text-decoration: underline;
}

/* -------------------------------- 
xTypography 
-------------------------------- */
body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 6em;
  color: #E1B923;
  text-align: center;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 2px #03a9f4;
}

h2 {
  font-family: "Merriweather", serif;
  font-size: 2em;
  text-align: center;
  color: #E1B923;
}

h3 {
  font-family: "Merriweather", serif;
  font-size: 1.25em;
  text-align: center;
  color: #E1B923;
}

.page-wrapper {
  display: grid;
  grid-template-columns: 200px 800px 200px;
  align-items: center;
  justify-content: center;
}

.supporting {
  height: 500px;
  overflow: hidden;
  margin-top: 6em;
}

.supporting div {
  color: #013E75;
  height: auto;
  margin: 0 50px;
  padding: 2px 50px 2px 50px;
  box-sizing: border-box;
  width: 600px;
}

.explanation {
  background: lightgreen;
  animation: slide 10s linear infinite;
}

.participation {
  background: skyblue;
}

.benefits {
  background: lightcoral;
}

.requirements {
  background: #FFFF66;
}

@keyframes slide {
  0% {
    margin-top: -1800px;
  }
  5% {
    margin-top: -1700px;
  }
  10% {
    margin-top: -1600px;
  }
  15% {
    margin-top: -1500px;
  }
  20% {
    margin-top: -1400px;
  }
  25% {
    margin-top: -1300px;
  }
  30% {
    margin-top: -1200px;
  }
  35% {
    margin-top: -1100px;
  }
  40% {
    margin-top: -1000px;
  }
  45% {
    margin-top: -900px;
  }
  50% {
    margin-top: -800px;
  }
  55% {
    margin-top: -700px;
  }
  60% {
    margin-top: -600px;
  }
  65% {
    margin-top: -500px;
  }
  70% {
    margin-top: -400px;
  }
  75% {
    margin-top: -300px;
  }
  80% {
    margin-top: -200px;
  }
  85% {
    margin-top: -100px;
  }
  90% {
    margin-top: -50px;
  }
  95% {
    margin-top: -10px;
  }
  100% {
    margin-top: 0px;
  }
}
.sidebar {
  font-size: small;
}

.extra1 {
  position: absolute;
  background-image: url("images/yellow-fish.png");
  background-repeat: no-repeat;
  z-index: -3;
  width: 300px;
  height: 200px;
  bottom: 300px;
  left: 0;
  animation: slide-fish 5s forwards infinite;
  overflow: hidden;
  transform: scale(0.7);
}

@keyframes slide-fish {
  0% {
    left: 0;
  }
  25% {
    left: 400px;
  }
  50% {
    left: 800px;
  }
  100% {
    left: 1200px;
  }
}
.extra2 {
  background-image: url("images/blue-fish.png");
  background-repeat: no-repeat;
  z-index: 3;
  position: absolute;
  animation: slide-fish 5s reverse infinite;
  width: 800px;
  height: 300px;
  left: 0;
  top: 500px;
  overflow: hidden;
  transform: scale(0.7);
}

div.extra3 {
  position: absolute;
  background-image: url("images/old-tv2.png");
  background-repeat: no-repeat;
  z-index: 1;
  top: 250px;
  left: 300px;
  width: 800px;
  height: 567px;
}

.extra4 {
  background-image: url("images/bubbles.png");
  background-repeat: repeat;
  z-index: 1;
  position: absolute;
  animation: animatebubble 10s linear infinite, sideWays 2s ease-in-out infinite alternate;
  width: 500px;
  height: 500px;
  left: 100px;
  top: 500px;
}

@keyframes animatebubble {
  0% {
    margin-top: 500px;
  }
  100% {
    margin-top: -100%;
  }
}
.main footer {
  position: absolute;
  top: 850px;
  left: 450px;
  justify-content: center;
  margin: 20px;
}

.main footer a {
  font-weight: bold;
  background-color: #03a9f4;
  color: #FFFFFF;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 10px;
  cursor: pointer;
  background: linear-gradient(top, #34696f, #2f5f63);
  border-radius: 40px;
  border: solid 1px #2f5f63;
  box-shadow: 4px 4px 0 #1b383b;
  text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
}

.main footer a:hover {
  color: #D44013;
}

.main footer a:focus,
a:active {
  color: #013E75;
}

body {
  padding: 50px;
  max-width: 60rem;
  margin: auto;
}

.intro header h1, h2 {
  width: 1200px;
  margin: 0;
}

.intro p {
  font-size: small;
}

li {
  list-style-type: none;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

/*# sourceMappingURL=style.css.map */
