@import "colors";
@import "typography";
@import "title";
@import "animations";
@import "footer";

body{
    padding: 50px;
    max-width: 60rem;
    margin:0 auto;
   // overflow-x: hidden; 
}

.intro header h1, h2{
    width:1100px;
   margin:0;
    text-align: center;}

.intro header h1{
     margin-top: -.5em;
 }   

 h2{font-style: italic;
font-weight: 100;}

.intro p{font-size:small;
        font-size: 12px;}


li {list-style-type: none;}

p{
    text-align: justify;
    text-justify: inter-word;
}
/*
@media only screen and (min-width: 600px) {
    body {
      background-color: lightblue;
      display:block;
      width: 600px;
      margin: auto;
    }
  }

.summary, .preamble, .design-selection, .design-archives, .zen-resources{visibility: hidden;}*/

.summary p, .preamble p{
    line-height: 110%;
}


.sidebar {font-size: 12px; margin-top: 6em;}


  
